<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            margin-top: 30px;
        }
    </style>
    </style>
</head>

<body>
    <h1>All Users:</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
            </tr>
        </thead>
        <tbody>
            {% for x in users %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.first_name }}</td>
                <td>{{ x.last_name }}</td>
                <td>{{ x.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/create">Create New User</a>
</body>
</html>